/* Global Settings */
body{margin:0;padding:0;}
body, td, textarea{font-family:arial,sans-serif;font-size:13px;-webkit-text-size-adjust:none;}
table{line-height:25px;}
table.subtable{line-height:18px;}
a{cursor:pointer;}
acronym{text-decoration:none;border:none;}

/* Viewport and Loaders */
#leftview{background-color:#fefefe;overflow:auto;position:absolute;left:0;width:220px;top:80px;}
#tooltitle{background:transparent url(imgs/sprite.png) no-repeat 0 -37px;position:absolute;left:0;width:220px;height:30px;top:50px;}
	#tooltitle a{font-weight:bold;font-size:16px;color:white;margin-left:10px;margin-top:6px;display:block;}
	
#lkv{position:absolute;left:0;width:214px;top:40px;left:-220px;}
#lkvtitle{background:transparent url(imgs/sprite.png) no-repeat 0 -37px;height:30px;position:relative;}
	#lkvtitle a{font-weight:bold;font-size:14px;color:white;margin-left:30px;margin-right:30px;padding-top:6px;display:block;}
	#lkvx{position:absolute;top:0;right:0;cursor:pointer;}	
	#lkvc{border-right:solid 1px #666666;overflow:auto;background-color:#ffffff;}
	#lkvs{width:220px;height:60px;position:absolute;top:-60px;left:0;background:#ffffff;opacity:0.8;filter:alpha(opacity=80);}	
#lefticons{position:absolute;top:0px;left:0;height:50px;}
#sptr{background:transparent url(imgs/sptr.png) repeat-y top left;position:absolute;left:219px;top:80px;height:30px;width:7px;font-size:1px;}
#tabtitles{background:transparent url(imgs/tabbg.gif) repeat top left;position:absolute;left:225px;height:30px;top:50px;}
#statusinfo{border-top:solid 1px #666666;background:#D4EDC9 url(imgs/sprite.png) no-repeat top right;position:absolute;left:0;height:24px;}

.break{border-right:solid 1px #cccccc;float:left;height:32px;margin-right:15px;font-size:1px;}
.break span{display:block;border-right:solid 1px #f0f0f0;height:32px;float:left;}

#logoutlink{font-weight:bold;font-size:12px;position:absolute;right:10px;top:10px;}
	#logoutlink a, #logoutlink a:visited{text-decoration:none;color:#000000;}
	#logoutlink a:hover{color:#A9DA92;height:100%;}

/* Tabs */
.tabclose, .noclose{display:block;float:left;height:30px;width:30px;cursor:pointer;}
.noclose{width:8px;}
.activetab a, .dulltab a{float:left;}
.tt{padding-top:7px;font-size:12px;padding-left:5px;max-width:120px;}
.tt img{vertical-align:middle;}
.activetab .tabclose{background:transparent url(imgs/sprite.png) no-repeat -369px -176px;}
.dulltab .tabclose, .img-close{background:transparent url(imgs/sprite.png) no-repeat -325px -175px;}

.activetab .noclose{background:transparent url(imgs/sprite.png) no-repeat -391px -220px;}
.dulltab .noclose{background:transparent url(imgs/sprite.png) no-repeat -347px -221px;}


.activetab, .dulltab {font-weight:bold;display:block;float:left;height:30px;margin-right:6px;}
.activetab{color:#ffffff;background:transparent url(imgs/sprite.png) no-repeat 0 -81px;}
.dulltab{color:#ffffff;background:transparent url(imgs/sprite.png) no-repeat 0 -127px;}

/* Sprite Icons */

.img-calel{background:transparent url(imgs/sprite.png) no-repeat -47px -178px;} /* 5x12 */
.img-caler{background:transparent url(imgs/sprite.png) no-repeat -70px -178px;}
.img-mg{background:transparent url(imgs/sprite.png) no-repeat -101px -175px;padding-left:14px;margin-bottom:8px;} /* 12x12 +14 */
.img-addrec{border:none;background:transparent url(imgs/sprite.png) no-repeat 0px -178px;} /* 12x12 */
.img-help{border:none;background:transparent url(imgs/sprite.png) no-repeat -248px -45px;} /* 12x12 */
.img-del{border:none;background:transparent url(imgs/sprite.png) no-repeat -264px -28px;width:12px;height:12px;} /* 12x12 */
.img-print{border:none;background:transparent url(imgs/sprite.png) no-repeat -279px -27px;width:16px;height:16px;} /* 16x16 */


/* List */
.listitem{border-bottom:solid 1px #D4EDC9;padding-bottom:2px;margin-bottom:3px;}
.listitem a,.listitem a:link,.listitem a:visited,.listitem a:hover{text-decoration:none;color:#000000;}
.listitem a:focus{color:#ab0200;}

.section{padding:10px;}
.enl_date{border-bottom:solid 1px #804000;color:#201000;}
.enl_client{border-bottom:solid 1px #400080;color:#100020;}
.form div div{
height:22px;
}

.sectiontitle{font-weight:bold;font-size:18px;margin-bottom:20px;}
input,textarea{border:solid 1px #666666;}
.sectionheader{color:#000000;font-size:13px;font-weight:bold;background-color:#dedede;margin-top:12px;margin-bottom:10px;padding:3px 10px;}
.minicaletitle{
position:relative;
text-align:center;
padding-left:20px;
padding-right:20px;
width:135px;
margin-top:5px;
margin-bottom:5px;
}
.minicaletitle span{
}
.minicaleprev{
position:absolute;
display:block;
top:0px;
left:5px;
}
.minicalenext{
position:absolute;
display:block;
top:0px;
right:5px;
}

.iconbuttons img{
border:none;
}

.iconbuttons a{
display:block;
float:left;
width:32px;
height:32px;
margin-right:15px;
}

.iconbuttons a:hover{
margin-right:13px;
border:solid 1px #ffffff;
}

.labelbutton{font-size:11px;background-color:#444444;padding:1px 4px;border-radius:2px;color:#ffffff;}
.labelbutton:hover{background-color:#000040;}

.minilookup{width:200px;font-size:11px;display:none;position:relative;padding-top:16px;}
.lookupview{height:120px;width:200px;overflow:auto;border:solid 1px #666666;box-shadow:2px 2px 4px #666666;}
.minilookup .closer{position:absolute;top:3px;right:5px;line-height:16px;}

.clear{clear:both;}
.col{width:500px;margin-right:20px;float:left;}
.formlabel{color:#444444;padding-right:10px;}
.inplong, .inp, .inpmed, .inpshort{padding-left:2px;}
.inplong{width:280px;}
.inp{width:220px;}
.inpmed{width:180px;}
.inpshort{width:80px;}

.inplong.num, .inp.num, .inpmed.num, .inpshort.num{padding-left:0;padding-right:2px;text-align:right;}

button{padding:5px 8px;border-radius:3px;border:solid 1px #999999;cursor:pointer;box-shadow:2px 2px 3px #999999;margin-top:5px;}
button:active{padding:5px 7px 5px 9px;box-shadow:1px 1px 3px #999999;}
.subtable button{padding:1px 4px;margin-top:0;}
.subtable button:active{padding:1px 3px 1px 5px;}
.subtable .inplong, .subtable .inp, .subtable .inpmed, .subtable .inpshort{margin-top:2px;}

.listbar{font-size:12px;padding:5px 0;}

.example{border:dashed 1px;color:#666666;font-family:monospace;padding:5px;margin-left:10px;}
.example a{color:#0000ff;text-decoration:underline;}

input:disabled{color:#000000;}