.img-mg,.sectiontitle,.cleartext,
.listitem,.inplong, .inp, .inpmed, .inpshort, .inpxshort{font-family:Arial,serif;}

.privhide{display:block;}
.helptopicitem{border-left:solid 6px #D8D8D8;border-bottom:none;}
