.img-mg,.sectiontitle,.cleartext,
.listitem,.inplong, .inp, .inpmed, .inpshort, .inpxshort{font-family:Consolas,Georgia,serif;}

.privhide{display:none;}
.helptopicitem{border-left:none;border-bottom:solid 1px #D4EDC9;}