#gsnotes_header{
	padding:10px;
	border-bottom:solid 1px #dedede;
}

#gsnotes_headerlogo{width:160px;}

#gsnotes_unsupported{
	padding:10px;
	background:#ffcccc;	
}

#gsnotes_online{
	padding:10px;
	background:#ccffcc;	
}

#gsnotes_main{padding:10px;}

#gsnotes_adder{margin-bottom:10px;}

#gsnotes_list{padding-top:10px;padding-bottom:20px;}

.gsnoteitem{padding:5px 0;border-bottom:solid 1px #444444;width:45%;}

.gsnotename, .gsnotedel{float:left;}
.gsnotename{width:88%;margin-right:2%;}
.gsnotedel{width:9%;margin-right:1%;text-align:right;}
.gsnotedel a{display:block;background:#ab0200;color:#ffffff;cursor:pointer;float:right;padding:1px 5px;border-radius:20px;font-weight:bold;}

.gsnotes_inputrow{margin-bottom:10px;}
.gsnotes_formlabel{font-size:13px;color:#666666;margin-bottom:2px;}

@media screen and (max-width:1060px){
	.gsnoteitem{width:80%;}	
}

@media screen and (max-width:450px){
	.gsnoteitem{width:100%;}	
}

@media (prefers-color-scheme:dark) {
	
		
	#gsnotes_header{border-bottom:solid 1px #21262D;}
	#gsnotes_online{background:#0E2717;border-bottom:solid 1px #105F1A;color:#18E022;}
		
	button{margin-top:5px;background:#187CA6;color:#F1DECE;cursor:pointer;border:solid 1px #388BFD;padding:5px 10px;}
	button:hover{background:#125B7A;}
}