/* Global Settings */
body{margin:0;padding:0;background:#F2F2F2;}
body, td, textarea{font-family:arial,sans-serif;font-size:13px;-webkit-text-size-adjust:none;}
table{line-height:25px;}
table.subtable{line-height:18px;}
a{cursor:pointer;}
acronym{text-decoration:none;border:none;}

/* Viewport and Loaders */
#leftview{background-color:#ffffff;position:absolute;left:20px;width:260px;top:122px;transition:background 250ms;-webkit-transition:background 250ms;}
#leftview_{overflow:auto;overflow-y:auto;overflow-x:hidden;border-left:solid 1px #CCCCCC; border-right:solid 1px #cccccc;}
#tooltitle{background:transparent url(imgs/sprite.png) no-repeat 0 -35px;position:absolute;left:20px;width:260px;height:32px;top:90px;}
	#tooltitle a{cursor:default;font-weight:bold;font-size:16px;color:#f2f2f2;margin-left:15px;margin-top:6px;display:block;}

#closeall{margin-left:4px;display:none;float:left;margin-top:5px;margin-right:10px;background:#E55151;height:20px;font-size:10px;padding:0 5px;padding-right:6px;}
#closeall b{font-weight:normal;padding-top:2px;display:block;color:#f2f2f2;}
		
#tabviews{transition:background 250ms;-webkit-transition:background 250ms;border-left:solid 1px #cccccc;box-shadow:-8px 0 4px -4px #dedede;}	
	
#lkv{position:absolute;left:0;width:258px;top:40px;left:-280px;transition:left 100ms;-webkit-transition:left 100ms;}
#lkvtitle{background:transparent url(imgs/sprite.png) no-repeat 0 -223px;height:32px;position:relative;}
	#lkvtitle a{font-weight:bold;font-size:14px;color:white;margin-left:30px;margin-right:30px;padding-top:6px;display:block;}
	#lkvx{position:absolute;top:0;right:0;cursor:pointer;background:transparent url(imgs/sprite.png) no-repeat -285px -174px;}	
	#lkvc{border-right:solid 1px #666666;overflow:auto;background-color:#ffffff;transition:background 250ms;-webkit-transition:background 220ms;}
	#lkvs{width:260px;height:60px;position:absolute;top:-40px;left:0;background:#ffffff;opacity:0.8;filter:alpha(opacity=80);}	
#lefticons{width:100%;position:absolute;top:0px;left:0;height:72px;background:transparent url(imgs/sprite.png) repeat-x 0 -257px;}
#sptr{background:#666666;position:absolute;left:0;bottom:24px;height:6px;width:100%;font-size:1px;opacity:0.2;-webkit-opacity:0.2;filter:alpha(opacity=20);}
#tabtitles{background:transparent url(imgs/tabbg.gif) repeat top left;position:absolute;left:295px;height:38px;top:90px;}

/* Fullscreen View */
#fsmask{position:absolute;top:0;left:0;width:100%;height:100%;background:#000000;opacity:0.4;filter:alpha(opacity=40);display:none;}
#fstitlebar{position:absolute;top:10px;left:10px;width:100%;height:30px;background:#555555;border-radius:3px 3px 0 0;display:none;}
#fstitle{color:#ffffff;padding:5px 10px;font-size:15px;font-weight:bold;}
#fsclose{display:block;width:24px;height:18px;position:absolute;top:6px;right:6px;background:#E55151;}
#fsclose .img-closeall{margin:4px 6px;}
#fsview{position:absolute;top:40px;left:10px;width:100%;background:#ffffff;display:none;overflow:auto;}

/* Status Bar */
#statusinfo{width:100%;bottom:0;border-top:solid 1px #666666;background:#BBCDD5 url(imgs/sprite.png) no-repeat top right;position:absolute;left:0;height:24px;}
#statusicons{margin-left:20px;}
#statusc{margin-left:10px;padding-top:3px;display:inline-block;}

#speechstart{display:none;transition:margin 300ms;}
#speechstart img{width:16px;height:16px;background:transparent url(imgs/toolbar.gif) -50px 0;margin-left:4px;margin-top:2px;}

#wsswarn{width:16px;height:16px;background:transparent url(imgs/toolbar.gif) -32px 0;margin-left:8px;margin-top:2px;display:none;}


.break{border-right:solid 1px #cccccc;float:left;height:32px;margin-right:15px;font-size:1px;}
.break span{display:block;border-right:solid 1px #f0f0f0;height:32px;float:left;}

#logoutlink{font-weight:bold;font-size:11px;position:absolute;right:20px;top:28px;color:#f2f2f2;}
	#logoutlink a, #logoutlink a:visited{text-decoration:none;color:#f2f2f2;}
	
#logoutlink img{margin-right:5px;border:none;vertical-align:middle;}

#logoutlink a:hover{
	opacity:0.6; filter:alpha(opacity=60);
	transition:opacity 400ms; -webkit-transition:opacity 400ms;
}

/* Tabs */
.tabclose, .noclose, .closeall{display:block;float:left;height:32px;width:30px;cursor:pointer;}
.closeall{width:32px;}
.noclose{width:8px;}
.activetab a, .dulltab a{float:left;}
.tt{padding-top:9px;padding-bottom:5px;font-size:12px;padding-left:10px;}
.tt img{vertical-align:middle;}
.activetab .tabclose{background:transparent url(imgs/sprite.png) no-repeat -369px -174px;}
.dulltab .tabclose, .img-close{background:transparent url(imgs/sprite.png) no-repeat -325px -174px;}

.activetab .closeall{background:transparent url(imgs/sprite.png) no-repeat -290px -176px;}
.dulltab .closeall{background:transparent url(imgs/sprite.png) no-repeat -254px -176px;}

.activetab .noclose{background:transparent url(imgs/sprite.png) no-repeat -391px -219px;}
.dulltab .noclose{background:transparent url(imgs/sprite.png) no-repeat -347px -219px;}


.activetab, .dulltab {font-weight:bold;display:block;float:left;height:38px;margin-right:8px;}
.activetab{color:#000000;background:transparent url(imgs/sprite.png) no-repeat 0 -76px;box-shadow:0 -1px 2px 0 #cccccc;border-radius:5px 5px 0 0;}
.dulltab{color:#000000;background:transparent url(imgs/sprite.png) no-repeat 0 -122px;}


/* Sprite Icons */

.img-calel{background:transparent url(imgs/sprite.png) no-repeat -47px -178px;} /* 5x12 */
.img-caler{background:transparent url(imgs/sprite.png) no-repeat -70px -178px;}
.img-mg{border-color:#cccccc;background:#f2f2f2 url(imgs/sprite.png) no-repeat 100% -330px;padding-left:5px;padding-right:25px;margin-bottom:8px;height:32px;line-height:30px;width:185px;vertical-align:middle;} /* 12x12 +14 */
.searchsubmit{display:none;}
.img-help{border:none;background:transparent url(imgs/sprite.png) no-repeat -248px -45px;} /* 12x12 */
.img-print{border:none;background:transparent url(imgs/sprite.png) no-repeat -279px -27px;width:16px;height:16px;} /* 16x16 */
.recadder{color:#29ABE2;margin-bottom:5px;font-size:14px;}
.recadder img{vertical-align:middle;margin-right:4px;}


/* List */
.listitem{border-bottom:solid 1px #D4EDC9;padding:3px 0;margin-bottom:3px;}
.listitem a,.listitem a:link,.listitem a:visited,.listitem a:hover{text-decoration:none;color:#000000;}
.listitem a:focus{color:#ab0200;}

.section{padding:24px 15px;}
.enl_date{border-bottom:solid 1px #804000;color:#201000;}
.enl_client{border-bottom:solid 1px #400080;color:#100020;}
.form div div{
height:22px;
}

.sectiontitle{font-weight:bold;font-size:18px;margin-bottom:20px;}
input,textarea{border:solid 1px #999999;}
.sectionheader{color:#000000;font-size:13px;font-weight:bold;background-color:#dedede;margin-top:12px;margin-bottom:10px;padding:3px 10px;}
.minicaletitle{
position:relative;
text-align:center;
padding-left:20px;
padding-right:20px;
width:135px;
margin-top:5px;
margin-bottom:5px;
}
.minicaletitle span{
}
.minicaleprev{
position:absolute;
display:block;
top:0px;
left:5px;
}
.minicalenext{
position:absolute;
display:block;
top:0px;
right:5px;
}

.iconbuttons img{
border:none;
}

.iconbuttons a{
display:block;
float:left;
/*
width:32px;
height:32px;
*/
text-align:center;

margin-right:20px;

font-size:10px;


}

.iconbuttons a, .iconbuttons a:hover, .iconbuttons a:visited, .iconbuttons a:link{color:#F2F2F2;text-decoration:none;}

.iconbuttons a:hover{
	opacity:0.6; filter:alpha(opacity=60);
	transition:opacity 400ms; -webkit-transition:opacity 400ms;
}

.iconbuttons .noblink, .iconbuttons .noblink:hover{opacity:1;filter:none;cursor:default;}

.labelbutton{font-size:11px;background-color:#444444;padding:1px 4px;border-radius:2px;color:#ffffff;}
.labelbutton:hover{background-color:#000040;}

.minilookup{width:200px;font-size:11px;display:none;position:relative;padding-top:16px;}
.lookupview{height:200px;width:200px;overflow:auto;border:solid 1px #666666;box-shadow:2px 2px 4px #666666;}
.lookupview #timepicker{height:200px;overflow:auto;}
.minilookup .closer{position:absolute;top:3px;right:5px;line-height:16px;}

.clear{clear:both;}
.col{width:450px;margin-right:20px;float:left;}
.majorcol, .minorcol, .rmajorcol, .rminorcol{float:left;}
.majorcol{width:580px;}
.minorcol{width:380px;margin-right:20px;}
.rmajorcol{width:580px;margin-right:20px;}
.rminorcol{width:380px;}

.formlabel{color:#444444;padding-right:10px;margin-bottom:5px;font-weight:bold;}
.inplong, .inp, .inpmed, .inpshort{padding:5px 0;padding-left:5px;margin-bottom:5px;border-color:#cccccc;}
.inplong{width:98%;}
.inp{width:350px;}
.inpmed{width:280px;}
.inpshort{width:80px;}

.inplong.num, .inp.num, .inpmed.num, .inpshort.num{padding-left:0;padding-right:2px;text-align:right;}

.inputrow{margin-bottom:10px;}


.stable{overflow:auto;}
.stable td{padding:0 5px;font-size:12px;}

.stable::-webkit-scrollbar {height:12px;}
 
.stable::-webkit-scrollbar-track {
	border-radius: 2px;
	background:#fcfcfc url('iphone/darrow.png') no-repeat center center;
	background-size:16px 10px;
}
 
.stable::-webkit-scrollbar-thumb { background-color:rgba(200,200,200,0.2); border-radius:2px;}


button{color:#ffffff;background:#29abe2;padding:5px 15px;border-radius:3px;border:none;cursor:pointer;box-shadow:0px 1px 2px #c9c9c9;margin-top:5px;-webkit-appearance: none;}
button.warn{background:#e55151;}
button:active{box-shadow:1px 1px 3px #999999;}

/*.subtable button{padding:1px 4px;margin-top:0;}
.subtable button:active{padding:1px 3px 1px 5px;}
.subtable .inplong, .subtable .inp, .subtable .inpmed, .subtable .inpshort{margin-top:2px;}
*/

.subtable .inplong, .subtable .inp, .subtable .inpmed, .subtable .inpshort{margin-top:10px;}

.listbar{font-size:12px;padding:5px 0;}

.example{border:dashed 1px;color:#666666;font-family:monospace;padding:5px;margin-left:10px;}
.example a{color:#0000ff;text-decoration:underline;}

input:disabled{color:#000000;}

@media screen and (min-width:10px){
	.tt{max-width:120px;overflow-x:hidden;}
	button{min-width:50px;}
}

@media screen and (max-width:1330px){
	.col{width:49%;margin-right:1%;}
	.minorcol{width:38%;margin-right:2%;}
	.majorcol{width:60%;}
	.rmajorcol{width:60%;margin-right:2%;}
	.rminorcol{width:40%;}	
}

@media screen and (max-width:990px){
	.col, .majorcol, .minorcol, .rmajorcol, .rminorcol{width:auto;float:none;margin-bottom:10px;}	
}


@media screen and (max-width:780px){
	.mceToolbar .mceSeparator, .mceToolbar .mce_link, .mceToolbar .mce_unlink{display:none !important;}
}