/*
use toolbar.psp to generate toolbar.gif
*/


.listpager{padding:10px 0;font-size:12px;}
#calepicker{font-size:12px;width:100%;height:200px;margin:0 auto;margin-top:5px;}

.ssrp_title{font-family:arial, sans-serif; font-size:18px; color:#1A0DAB;line-height:21.6px;}
.ssrp_link{font-family:arial, sans-serif; color:#006621; font-size:14px;line-height:16px;}
.ssrp_desc{font-family:arial, sans-serif; color:#545454; font-size:13px;line-height:18.2px;}

.hovlink, .hovlink:visited, .hovlink:hover, .hovlink:link,
.listitem .hovlink, .listitem .hovlink:visited, .listitem .hovlink:hover, .listitem .hovlink:link{color:#29ABE2;text-decoration:none;}

.hovlink:hover, .listitem .hovlink:hover{text-decoration:underline;}

.largertext{font-size:18px;}

.caleheader{height:20px;border:solid 1px #ffffff;margin-left:1px;}
.calecell{height:25px;border:solid 1px #444444;margin:1px;}

#calepicker{padding-top:10px;}

.caletimeitem{position:relative;height:30px;border-bottom:solid 1px #999999;}

.videoframe_16x9{position:relative;width:100%;height:0;padding-bottom:58%;overflow:hidden;}
.videoframe{position:absolute;top:0;left:0;width:100%;height:100%;display:block;border:none;}

input:disabled{
	color:#000000;
	background-color:#F8F8F8;
}

#gyroscope_updater{font-size:13px;}
.footerpoweredby{font-size:12px;}

.admin-logout{background:transparent url(imgs/toolbar.gif) no-repeat 0 0;}	
.admin-settings{background:transparent url(imgs/toolbar.gif) no-repeat 0 -16px;}	
.admin-user{background:transparent url(imgs/toolbar.gif) no-repeat -16px -16px;}
.img-addrec{background:transparent url(imgs/toolbar.gif) no-repeat -32px -32px;}	

.beltprev{border:none;background:transparent url(imgs/toolbar.gif) no-repeat -64px 0;width:16px;height:32px;vertical-align:middle;}
.beltnext{border:none;background:transparent url(imgs/toolbar.gif) no-repeat -80px 0;width:16px;height:32px;vertical-align:middle;}

.img-del{border:none;background:transparent url(imgs/toolbar.gif) no-repeat -52px -32px;width:12px;height:12px;vertical-align:middle;}
.img-save{border:none;background:transparent url(imgs/toolbar.gif) no-repeat -52px -52px;width:12px;height:12px;vertical-align:middle;}
.img-tick{border:none;background:transparent url(imgs/toolbar.gif) no-repeat -32px -53px;width:12px;height:12px;vertical-align:middle;}
.img-xls{border:none;background:transparent url(imgs/toolbar.gif) no-repeat -64px -52px;width:12px;height:12px;vertical-align:middle;}
.img-pdf{border:none;background:transparent url(imgs/toolbar.gif) no-repeat -76px -52px;width:12px;height:12px;vertical-align:middle;}

.img-up{border:none;background:transparent url(imgs/toolbar.gif) no-repeat 0 -32px;width:12px;height:12px;vertical-align:middle;}
.img-down{border:none;background:transparent url(imgs/toolbar.gif) no-repeat -12px -32px;width:12px;height:12px;vertical-align:middle;}

.daylightsaving{border:none;background:transparent url(imgs/toolbar.gif) no-repeat -32px -20px;width:12px;height:12px;vertical-align:top;}

.img-closeall{background:transparent url(imgs/toolbar.gif) no-repeat -21px -1px;vertical-align:middle;margin-right:4px;}

.img-home{background:transparent url(imgs/toolbar.gif) no-repeat -96px 0;}

.img-settings{background:transparent url(imgs/toolbar.gif) no-repeat -384px 0;}
.img-settings-light{background:transparent url(imgs/toolbar.gif) no-repeat -384px -32px;}

.img-reports{background:transparent url(imgs/toolbar.gif) no-repeat -224px 0;}
.img-reports-light{background:transparent url(imgs/toolbar.gif) no-repeat -224px -32px;}

.img-speechrecog{background:transparent url(imgs/toolbar.gif) no-repeat -128px 0;}

.img-clock{width:12px;height:12px;background:transparent url(imgs/toolbar.gif) no-repeat 0 -52px;}
.img-tracker{background:transparent url(imgs/toolbar.gif) no-repeat -288px 0;}
.img-tracker-light{background:transparent url(imgs/toolbar.gif) no-repeat -288px -32px;}

/* Editor preview styles (also change in tiny_mce/editor.css) */

.pickerstyle_headline{font-size:22px;color:#000044;}

.pickerstyle_narrowquote{padding:20px;color:#000044;}
.pickerstyle_narrowquote span{display:block;border-top:dashed 1px #31518E;border-bottom:dashed 1px #31518E;padding:10px 0;font-style:italic;}

