/*
#watchframe_outer{position:relative;border:solid 1px #187CA6;overflow:auto;width:420px;height:420px;box-sizing:border-box;border-radius:100%;}
*/

#backlistbutton{padding-left:20%;}
#toollist{padding-left:25%;}

#tooltitle{text-align:center;}

.sectiontitle{text-align:center;}
.sectionheader{text-align:center;}


.lvview{padding-top:14%;padding-bottom:40%;}
#lvviews .listitem{text-align:center;}

.watchonly{display:block;}
.button.watchonly{display:inline-block;}