	body{background:#f2f2f2;}
	#tooltitle{height:24px;background:#f2f2f2 url(msprite.png) no-repeat 0 0;width:150px;text-shadow:none;border-bottom:none;}
	
	#lvviews{height:210px;overflow:auto;}
	#tabviews{overflow:auto;}
	#content{overflow-x:auto;}
	
	.listitem{border-bottom:solid 1px #dedede;padding:5px 0;font-size:13px;color:#000000;background-image:none;}
	.listitem a{display:inline;}
	
	.listlookup{width:120px;margin-bottom:10px;}
	
	.col{float:left;width:40%;margin-right:8%;}

	.inplong{width:95%;}
	.inp{width:90%;}
	.inpmed{width:80%;}
	.inpshort{width:50%;}
	#toolicons a img{margin:0;}
	#toollist{height:35px;}
	#backlist{top:40px;}
	#toolbg{height:40px;}
	#pusher{height:40px;}
	#backlistshadow{height:43px;}

@media screen and (max-width:1100px){
	
	.col{float:none;width:auto;margin:0 auto;margin-bottom:10px;}
	.mceToolbar .mceSeparator, .mceToolbar .mce_link, .mceToolbar .mce_unlink{display:none !important;}
	
}
	