.img-films{background:transparent url(imgs/toolbar.gif) no-repeat 0 0;} /* 32x32 */
.img-actors{background:transparent url(imgs/toolbar.gif) no-repeat -32px 0;}
.img-reports{background:transparent url(imgs/toolbar.gif) no-repeat -64px 0;}
