body,textarea,td{margin:0;padding:0;font-family:verdana, tahoma, arial;font-size:13px;}
a{cursor:pointer;}
acronym{text-decoration:none;border:none;}


/* Tabs */
.tabclose, .noclose{display:block;float:left;height:25px;width:25px;cursor:pointer;}
.noclose{width:8px;}
.activetab a, .dulltab a{float:left;}
.tt{padding-top:5px;font-size:12px;margin-left:5px;white-space:nowrap;max-width:50px;overflow:hidden;}
.activetab .tabclose{background:transparent url(msprite.png) no-repeat -371px -2px;}
.dulltab .tabclose{background:transparent url(msprite.png) no-repeat -342px -2px;}
.activetab, .dulltab {font-weight:bold;display:block;float:left;height:25px;margin-right:4px;}
.activetab{color:#ffffff;background:transparent url(msprite.png) no-repeat 0 -31px;}
.dulltab{color:#ffffff;background:transparent url(msprite.png) no-repeat 0 -61px;}

.activetab .noclose{background:transparent url(msprite.png) no-repeat -328px -2px;}
.dulltab .noclose{background:transparent url(msprite.png) no-repeat -317px -2px;}

.section{padding:10px;}
.enl_date{border-bottom:solid 1px #804000;color:#201000;}
.enl_client{border-bottom:solid 1px #400080;color:#100020;}

.form div div{
height:22px;
}

.safetable td,.safetable th{float:left;display:block;margin-right:2px;width:120px;overflow:hidden;}
.safetable tr{clear:both;border-bottom:solid 1px #dedede;display:block;}

#lkv{position:fixed;width:146px;top:80px;left:-220px;}
#lkvtitle{background:transparent url(msprite.png) no-repeat 0 -1px;height:25px;position:relative;}
	#lkvtitle a{font-weight:bold;font-size:14px;color:white;margin-left:30px;margin-right:30px;padding-top:6px;display:block;}
	#lkvx{position:absolute;top:0;right:0;cursor:pointer;background:transparent url(msprite.png) no-repeat -342px -2px;}	
	#lkvc{border-right:solid 1px #666666;overflow:auto;background-color:#ffffff;}

#toolicons{height:40px;text-align:right;}

.img-calel{background:transparent url(msprite.png) no-repeat -226px -8px;} /* 5x12 */
.img-caler{background:transparent url(msprite.png) no-repeat -249px -8px;}
.img-mg{background:transparent url(msprite.png) no-repeat -383px -89px;padding-left:14px;} /* 12x12 +14 */
.img-addrec{border:none;background:transparent url(msprite.png) no-repeat -178px -8px;} /* 12x12 */
.img-help{background:transparent url(msprite.png) no-repeat -265px -8px;}
.img-del{border:none;background:transparent url(msprite.png) no-repeat -288px -8px;width:12px;height:12px;} /* 12x12 */
.img-print{border:none;background:transparent url(msprite.png) no-repeat -158px -5px;width:16px;height:16px;} /* 16x16 */

.img-exit{background:transparent url(msprite.png) no-repeat -198px -7px;} /* 16x16 */


#backlist{height:43px;background:transparent url(hbg.png) repeat-x top left;}
#backlistbutton{display:block;padding-left:5px;padding-top:6px;}

#tabtitles{background:transparent url(tbbg.png) repeat top left;border-bottom:solid 1px #6f6e6e;}

#tooltitle a{font-weight:bold;font-size:15px;color:white;margin-left:10px;padding-top:3px;display:block;white-space:nowrap;}
.sectiontitle{font-weight:bold;font-size:14px;}
input{border:solid 1px #666666;}
.sectionheader{font-size:12px;font-weight:bold;background-color:#dedede;margin-top:12px;margin-bottom:10px;padding:3px 10px;}
#statusbar a{font-size:12px;display:block;margin-top:2px;margin-left:2px;}
.minicaletitle{
position:relative;
text-align:center;
padding-left:20px;
padding-right:20px;
width:135px;
margin-top:5px;
margin-bottom:5px;
}
.minicaletitle span{
}
.minicaleprev{
position:absolute;
display:block;
top:0px;
left:5px;
}
.minicalenext{
position:absolute;
display:block;
top:0px;
right:5px;
}

.iconbuttons img{
border:none;
}

.iconbuttons a{
display:block;
float:left;
width:32px;
height:32px;
margin-right:15px;
}

.iconbuttons a:hover{
margin-right:13px;
border:solid 1px #664444;
}
#logoutlink{
position:absolute;right:20px;top:14px;
}

#logoutlink a{
text-decoration:none;
}

#logoutlink a:hover{
color:#ff2222;
}

.litm{border-bottom:solid 1px #A6A8AA;background:transparent url(ra.png) no-repeat center right;}
.litm a{display:block}

.labelbutton{font-size:11px;background-color:#444444;padding:1px 4px;border-radius:2px;color:#ffffff;}
.labelbutton:hover{background-color:#000040;}

.minilookup{width:200px;font-size:11px;display:none;position:relative;padding-top:16px;}
.lookupview{height:260px;width:200px;overflow:auto;border:solid 1px #666666;box-shadow:2px 2px 4px #666666;}
.lookupview #timepicker{height:200px;overflow:auto;}
.minilookup .closer{position:absolute;top:3px;right:5px;}
.minilookup .listitem {background:none;}
.minilookup .listitem a{padding:3px 0;margin:0;font-size:11px;display:inline;}

.clear{clear:both;}
.col{width:300px;margin-right:20px;float:left;}

.formlabel{color:#444444;padding-right:5px;}
.inplong, .inp, .inpmed, .inpshort{padding-left:2px;}
.inplong{width:200px;}
.inp{width:180px;}
.inpmed{width:120px;}
.inpshort{width:80px;}

.subtable .inplong, .subtable .inp, .subtable .inpmed, .subtable .inpshort{margin-top:2px;}

.listbar{font-size:12px;padding:5px 0;}
input:disabled{color:#000000;}

.stable{overflow:auto;}
.stable td{padding:0 10px;}

