#tooltitle{height:25px;background:transparent url(msprite.png) no-repeat 0 -1px;width:150px;text-shadow:none;}

#lvviews{height:210px;overflow:auto;}
#tabviews{overflow:auto;}
#content{overflow-x:auto;}

.listitem{border-bottom:solid 1px #dedede;padding:5px 0;font-size:13px;color:#000000;background-image:none;}
.listitem a{display:inline;}

.listlookup{width:120px;margin-bottom:10px;}

