# define mounting point
gscol=gsid

#optional settings:
outfile=dump_%%gsid%%.sql

#if a read-lock cannot be obtained (e.g. RDS), set the following to 1
nolock=1

#another useful RDS flag in defparams: --column-statistics=0

defparams=--default-character-set=latin1 -uroot -p gyrostart

# define all the table rules
# e.g.
#
# shared_table: *

# use vendorid as gsid on a root table:
# vendors@vendorid:

# users:
# templates: templatetypes,templates|templatetypeid-templatetypeid

# * = no filter; - = structure only; ? = matching gsid or 0 or null

gss
users
templates: templatetypes,templates|templatetypeid-templatetypeid
shared:*
accesslogseq:-
reports:?

# first table uses a custom gsid, second table appends to the previous table
transfers@srcgsid
transfers@dstgsid@+

# additional filtering rules

recs@videogsid@@and rectype=1
recs@picgsid@+@and rectype=2
