body{background:#0D1117;}

body, td, textarea, .img-mg{font-size:22px;}


#watchframe_outer__{position:relative;border:solid 1px #187CA6;overflow:auto;width:100%;height:100%;box-sizing:border-box;border-radius:100%;}
#watchlogout{margin-top:8px;margin-left:10px;}
#adminlogout{display:none;}

.footerpoweredby{display:block;text-align:center;}
#homefooterbuttons{text-align:center !important;}

#backlist{text-align:center;}
#watchmenu{position:fixed;top:0;left:0;width:100%;text-align:center;color:#ffffff;z-index:1900;}
#watchmenu a{display:inline-block;padding:10px;}
#watchmenu a img{transform:scale(1.6);}

#toolicons{display:block;background:#222222;top:170px !important;height:auto;padding:0px 0;border-top:solid 1px #ffffff;border-bottom:solid 1px #ffffff;}
#toolicons{transform:scale(1.8);}
#toolicons a img{transform:scale(1.1);}

#tooltitle{text-align:center;}

.sectiontitle{text-align:center;font-size:26px;}
.sectionheader{text-align:center;font-size:24px;}

.infobox, .warnbox{font-size:20px;color:#000000;}

.lvview{padding-top:14%;padding-bottom:40%;}
#lvviews .listitem{text-align:center;color:#000000;}
#tabviews{padding-bottom:150px;}

.watchonly{display:block;}
.button.watchonly{display:inline-block;}

#backlist{background-image:url(iphone/dhbg.png);}
.mtback_light{display:none;}
.mtback_dark{display:inline;}

#tooltitle{background:#131F2F;border-bottom:none;border-top:solid 1px #3690D9;border-bottom:solid 1px #3690D9;}

.recadder{display:block;text-align:center;font-size:24px;}
.listitem{font-size:24px;}

.listpager{text-align:center;font-size:20px;}

.buttonbelt{text-align:center;padding-top:10px;padding-bottom:40px;}
button, .button{font-size:20px;}

.stable td{font-size:20px;}

#fstitlebar{text-align:center;top:0;height:40px;}
#fstitle{display:none;}
#fsclose{position:static;top:auto;right:auto;display:inline-block;margin-top:5px;border-radius:50%;padding:5px 2px;}

#fsview,#fstitlebar{width:100% !important;left:0 !important;}

.providerlogo_light, .providerlogo_dark{height:30px !important;}

.gyroscope_version_footer{
	padding-top:60px !important;
	padding-bottom:180px !important;
	text-align:center !important;	
}

.footerpoweredby{font-size:18px;margin-bottom:20px;}

/* -- duplicating dark modes from gyrodemo.css -- */

	table{color:#C9D1D9;}
	.reloader{background:#353A2C;color:#EAE661;border-bottom:solid 1px #6B7247;border-top:solid 1px #6B7247;}
	.mtback_light{display:none;}
	.mtback_dark{display:inline;}

	#mainsearchview{background:#2F3235;border-color:#3A3A3A;color:#dedede;}
	.mainsearchitem a{border-color:#666666;}
	.mainsearchitem a:hover{background:#3A3A3A;}	
		
	.activetab .tabclose,
	.dulltab .tabclose,
	.activetab, .dulltab,
	.activetab .noclose, .dulltab .noclose,
	#lkvtitle, #lkvx
	{background-image:url(iphone/dmsprite.png)}
	
	.listsearch{background-image:url(imgs/dbmg.gif);}
	
	#lkvc{border-right:solid 1px #2F5464;}

/* -- duplicating dark modes from toolbar.css -- */

	#gsstickerview{background:rgba(53,41,46,0.9);color:#ffffff;border-color:#6A494C;}
	
	.calledout{background:#35292E;}
	
	.charttoolbar{
		border:solid 1px #6B7247;
		background:#161B22;
		color:#C9D1D9;
		box-shadow:none;	
	}
	
	.tslogo{display:none;}
	.tsdark{display:inline;}
	
	.inpgood{background:#0B2313;color:#00FD00;border-color:#07650D;}
	.inpbad{background:#2C1115;color:#F89591;border-color:#69393A;}	
	
	.dashcoltitle, .dashcolsubtitle{color:#000000;}
	.dashcolbutton{}		
	
	body,#lvviews{background:#0D1117;}
	input, textarea, select{background:#0D1117;color:#C2C3C5;border-color:#8B949E;}
	input:disabled{
		color:#BB8B2C;
		background-color:#353A2C;
		border-color:#6B7247;
	}
		
	#fsview{background:#0D1117;color:#C9D1D9;}

	.providerlogo_light{display:none;}
	.providerlogo_dark{display:inline !important;}
		
	#leftview_,#tabviews{border-color:#21262D;}
	
	#tabviews,#tabviews.bgready{background:#0D1117;color:#C9D1D9;box-shadow:none;}
	#tabviews.bgflash{background:#000000;color:#C9D1D9;box-shadow:none;}

	#leftview,#lkv.dismounted{background:#0D1117;color:#C9D1D9;}
	#leftview.bgready{background:#0D1117;color:#C9D1D9;}
	#leftview.bgflash{background:#000000;color:#C9D1D9;}
	

	
	#tabtitles{background-image:url(imgs/dtabbg.gif);}
	#statusinfo{border-color:#0D1117;background-color:#2D3239;color:#C9D1D9;}
	
	.activetab{box-shadow:0px -1px 2px #080A0C;}
	
	#lkvs{background-color:#000000;}
	#lkvc{background:#0D1117;}

	.listitem, .sortlistitem{border-bottom:solid 1px #21262D;}
	.listitem a,.listitem a:link,.listitem a:visited,.listitem a:hover{text-decoration:none;color:#C9D1D9;}
	.listitem:hover .diminished{color:#aaaade;}
		
	.qnavitem{box-shadow:none;background:#10233B;color:#68A7EA;border:solid 1px #294B70;}
	
	.gridheader{background:#161B22;}
	.gridrow{color:#C9D1D9;border-bottom:solid 1px #21262D;}
	.gridrow.even{background:#1F221A;}	

	.formlabel{color:#999999;}
	
	.warnbox{background:#35292E;border:solid 1px #6A494C;color:#E87655;border-radius:5px;}
	.reloader.busy{background:#35292E;border-bottom:solid 1px #6A494C;color:#E87655;}
	.listchanged{background:#35292E;border:solid 1px #6A494C;color:#E87655;}
	
	button, .button{box-shadow:0px 1px 2px #080A0C;border:solid 1px #388BFD;}
	button.warn, .button.warn{border:solid 1px #6A3438;}
	button.trivial, .button.trivial, .changebar_button{border:none;}
	button.disabled, .button.disabled,
	button.disabled:hover, .button.disabled:hover{background:#5A5F80;color:#161B22;border:none;cursor:default;}	
	
	.labelbutton{font-size:18px;background:#1C2D38;color:#5DACC2;border:solid 1px #2F5464;border-radius:5px;padding:1px 6px;display:inline-block;transition:background 200ms,color 200ms,border-color 200ms;}
	.labelbutton:hover{background:#201746;color:#D7D8FE;border-color:#5C517D;}
	
	.changebar_view{background:rgba(41,22,28,0.9);border-bottom:solid 1px #6A3438;}
	.changebar_button{background-color:#353A2C;border-color:#6B7247;color:#EAD450;}
	.changebar_button:hover{background-color:#24271F;}
	.savebar_view{background:#0E2717;border-bottom:solid 1px #105F1A;color:#18D41B;}
	.autosaver{color:#6B7247;}
	
	.sectionheader{background:#161B22;border-top:solid 1px #161B22;border-bottom:solid 1px #161B22;color:#8B949E;}
	
	.codegenicon{display:none;}
	
	.ssrp_title{color:#97AED8;}
	.ssrp_link{color:#6B8B73;}
	.ssrp_desc{color:#B4B4B4;}
	
	
	.img-reports-light{background-position: -224px 0;}
	.img-chats-light{background-position: -320px 0;}
	.img-settings-light{background-position: -384px 0;}
	.img-helptopics-light{background-position: -576px 0;}
	.img-salesforce-light{background-position: -736px 0;}
	.img-sap-light{background-position: -608px 0;}
		
	.stable::-webkit-scrollbar-track {
		border-radius: 2px;
		background:#10233B url('iphone/ddarrow.png') no-repeat center center;
		background-size:16px 10px;
		border:solid 1px #6B7247;
	}
	 
	.stable::-webkit-scrollbar-thumb {background-color:rgba(107,114,71,0.3); border-radius:2px;}
	
	.daylightsaving{background:transparent url(imgs/sysicons.gif) no-repeat -52px -32px;}	
	#statusicons #speechstart img{background:transparent url(imgs/sysicons.gif) -16px 0;}
	.img-addrec{background:transparent url(imgs/sysicons.gif) no-repeat -32px -32px;}	
	#wsswarn{background:transparent url(imgs/sysicons.gif) 0 0;}
	#barcodewarn{background:transparent url(imgs/sysicons.gif) -48px 0;}
	#diagwarn{background:transparent url(imgs/sysicons.gif) -32px 0;}
	#sysreswarn{background:transparent url(imgs/sysicons.gif) -128px 0;}
	#lI01{background:transparent url(imgs/sysicons.gif) -80px -32px;}
	#imecree{background:transparent url(imgs/sysicons.gif) -96px -48px;}
	#gsnotesclip{background:transparent url(imgs/sysicons.gif) -112px 0;}
	
	#gamepadicon{background:transparent url(imgs/sysicons.gif) -160px -32px;}
	#gamepadicon.spotactive{background:transparent url(imgs/sysicons.gif) -160px -48px;}
	
	#chatindicator{background:transparent url(imgs/sysicons.gif) -96px -32px;}
	#chatindicator.offline{background-position:-112px -32px;}
	
	.img-pageleft{background:transparent url(imgs/sysicons.gif) no-repeat -66px 0;}
	.img-pageright{background:transparent url(imgs/sysicons.gif) no-repeat -86px 0;}
	
	.mceLayout{filter:brightness(0.85);transition:filter 500ms;}
	.mceLayout:hover{filter:brightness(1);}
	
	.hovlink, .hovlink:visited, .hovlink:hover, .hovlink:link,
	.listitem .hovlink, .listitem .hovlink:visited, .listitem .hovlink:hover, .listitem .hovlink:link, .recadder{color:#4AB8E6;transition:color 200ms;}
	.recadder:hover{color:#1C8EBE;}	
			
	.hovlink:focus, .listitem .hovlink:focus{color:#1C8EBE;transition:color 200ms;}
	.hovlink:hover, .listitem .hovlink:hover{border-bottom:solid 1px #1C8EBE;color:#1C8EBE;}
	
  
	.navgroup,.navgroupx{background:#2C3041;border-color:#545A7A;color:#A6BAF9;border-radius:5px;}
	.navtitle{color:#A6BAF9;}
	.navfilter a, .navfilter a:hover, .navfilter a:visited, .navfilter a:link{text-decoration:none;color:#C9D1D9;}
	.navfilter a:hover{text-decoration:underline;}
	.navfilter em{color:#AEB4BA;font-size:22px;}	
	
	.navopen, .navclose{background:#2C3041;border-bottom:solid 1px #545A7A;}
	.navopen a, .navclose a{color:#A6BAF9;}

	.highcharts-background {
		fill: #0D1117;
	}
	
	.highcharts-title{fill:#A6BAF9 !important;}
	
	.highcharts-grid-line {
		stroke: #C9D1CD;
		stroke-opacity: 0.2;
	}
	
	.highcharts-label text{fill:#C9D1B4 !important; color:#C9D1B4 !important;font-weight:normal;}
	.highcharts-label text .highcharts-text-outline{stroke:transparent !important;}		
	
	.highcharts-color-0 {
		stroke: #294B70;
	}
	
	.highcharts-color-1 {
		stroke: #C9D1CF;
	}
	
	.highcharts-label.highcharts-tooltip{
		stroke: #0D1117;
	}
	
	.highcharts-button.highcharts-contextbutton .highcharts-button-box{
		stroke:#C9D1CF;
		fill:#0D1117;
	}
	.highcharts-contextmenu .highcharts-menu{background:#0D1117 !important;color:#C9D1CF !important;box-shadow:none !important;}
	.highcharts-contextmenu .highcharts-menu .highcharts-menu-item{color:#C9D1CF !important;}	
	
/* -- portrait.css -- */

	
	.listitem,.sortlistitem{border-bottom:solid 1px #21262D;}
	#tooltitle{background:#131F2F;border-bottom:none;border-top:solid 1px #3690D9;border-bottom:solid 1px #3690D9;}

	